

/* TODO @media (max-width: 500px) {
    height: 
} */

.logo {
    display: flex;
    gap: 2px;
}

.logo > span {
    background-color: var(--color-correct);
    padding: 0.5rem;
    font-weight: 700;
}
