

.grid-wrapper {
    flex-grow: 2;
    width: 100%;
    display: flex;
    place-content: center;
  }
  .grid {
    /* background-color: var(--color-yellow); */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    /* padding: 0.75rem; */
    gap: 0.3rem;
    max-width: 550px;
    min-width: 330px;
    margin: auto;
    vertical-align: center;
  }
  
  @media (max-width: 400px) {
    .grid {
      min-width: 300px;
    }
  }

  .guess-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    gap: 0.3rem;
  }

  .guess-row > span {
    border: 2px solid var(--color-grey);
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    aspect-ratio: 1;
    font-weight: 700;
  }

  .guess-row > span.active {
    border: 2px solid var(--color-nearly-black);
    animation: grow-then-shrink 100ms;
  }

  @keyframes grow-then-shrink {
    0% {
      transform: scale(1)
    }

    50% {
      transform: scale(1.08)
    }

    100% {
      transform: scale(1)
    }
  }


  @keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        /* background: white; */
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
        /* background: green; */
    }

  }

  .flip {
        animation: flip var(--animation-delay) ease forwards;
  }

  .zero {

  }

  .one {
    animation-delay: var(--animation-delay)
  }

  .two {
    animation-delay: calc(var(--animation-delay)*2)
  }
  .three {
    animation-delay: calc(var(--animation-delay)*3)
  }
  .four {
    animation-delay: calc(var(--animation-delay)*4)
  }



  .misplaced {
    background-color: var(--color-misplaced);
    border: 2px solid var(--color-misplaced);
  }
  
  .correct {
    background-color: var(--color-correct);
    border: 2px solid var(--color-correct);
  }
  
  .incorrect {
    background-color: var(--color-incorrect);
    border: 2px solid var(--color-correct);
  }
