.title {


}

.heading {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-dark-grey);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.divider {
    width: 95%;
    border-top: 2px solid var(--color-grey);
    border-radius: 5px;
}

.inline {
    display: flex;
    align-items: baseline;
    /* gap: 0.5rem; */
}

.green {
    color: var(--color-correct);
    padding-bottom: 0.75rem;
}

.definition {
    font-size: 1.5rem;
    line-height: 1;
}

.icon-button {
    font-size: 1.25rem;
}

.example {
    font-size: 1.2rem;
}

.light {
    color: var(--color-dark-grey);
    font-style: italic;
}