.title {


}

.heading {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-dark-grey);
    padding-bottom: 0.5rem;
   
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.content-wrapper > h2:first-child {
    margin-top: -4rem;
    z-index: 1;
}

.key-stats-wrapper {
    display: flex;
    justify-items: center;
    gap: 1rem;
}

.key-stat {
    display: flex;
    flex-direction: column;
}

.key-stat > p:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 500;
}

.key-stat > p:nth-of-type(2) {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--color-dark-grey);
}

.divider {
    width: 95%;
    border-top: 2px solid var(--color-grey);
    border-radius: 5px;
}

.inline {
    display: flex;
    align-items: baseline;
    /* gap: 0.5rem; */
}

.green {
    color: var(--color-correct);
    padding-bottom: 0.75rem;
}

.definition {
    font-size: 1.5rem;
    line-height: 1;
}

.icon-button {
    font-size: 1.25rem;
}

.example {
    font-size: 1.2rem;
}

.light {
    color: var(--color-dark-grey);
    font-style: italic;
}