.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  text-align: start;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  /* height: 70%; */
  max-width: 375px;
  padding: 1rem;
  padding-bottom: 0rem;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  overflow: auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.modal-content {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%;
}

@media (max-width: 400px) {
  .modal {
    height: 95%;
    width: 95%;
    /* width: 90%; */
  }
}

@media (min-width: 400px) {
  .modal {
    max-width: 600px;
    max-height: 95%;
  }
}
