.toast {
    background-color: black;
    border-radius: 7px;
    width: 200px;
    color: white;
    padding: 0.6rem;
    animation: fade-out 3s;
}

.toast-wrapper {
    position: fixed;
    top: calc(var(--header-height) + 10px);
    left: 50%;
    transform: translate(-50%)
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0;}
}

.hidden {
    opacity: 0;
}