.game-container {
display: flex;
background-color: var(--color-red);
flex-direction: column;
height: 100%;
width: 100%;
}

.grid-wrapper, .input-wrapper {
    padding: 1rem;
    border: 3px solid var(--color-orange);
}

.grid-wrapper {
flex-grow: 2;
background-color: var(--color-yellow);
}

.input-wrapper {
flex-grow: 1;
background-color: var(--color-yellow);
}

.test {
    background-color: green;
}