.nav, .nav-home {
    width: 100vw;
    height: var(--header-height);
    margin: 0 auto;
    background-color: white;
    position: relative;
}

.nav {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav > li {
    padding: 1rem;
    display: flex;
    align-items: center;
  
}

.nav-home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
}

.scale {
    transform: scale(1.1);
}

.center {
    justify-content: center;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

@media (max-width: 640px) {
    .nav > li {
        padding: 0.5rem;
        /* font-size: 1.5rem; */
    }
    .nav, .nav-home {
        height: var(--mobile-header-height);
    }
}