.nav, .nav-home {
    width: 100vw;
    height: var(--header-height);
    margin: 0 auto;
    background-color: white;
    display: flex;
}


.nav {
    justify-content: space-between;
}

.nav > li {
    padding: 1rem;
}

.nav-home {
    justify-content: center;
    align-items: center;
}